<!DOCTYPE html>
<html>

<head>
  <title>SouDoido</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>

<body>
    <div class="margem"></div>
  <main>
    <div class="form">
      <div class="center">
        <h1 class="logo">Sou<span>Doido</span></h1> </div>
      </div>
      <div class="auth-input">
        <label for="user" <b>Usuário</b> </label>
        <input type="text" placeholder="Usuário" id="user" required><br>
        <label for="email" <b>Email</b> </label>
        <input type="text" placeholder="Email" id="email" required><br>
        <label for=senha <b>Senha</b> </label>
        <input type="password" placeholder="Senha" id="password" required><br>
        <a href="#">
          <input type="submit" placeholder="Confirmar" id="submit" required><br>
        </a>
      </div>
    </div>
  </main>
</body>

<script src="/assets/register.js"></script>

</html>